.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

//Needed as navbar comes with default spacing under
.navbar {
  margin-bottom: 0;
}